<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.todo.TodoMapper">

    <select id="findAll" resultType="Todo">
        SELECT * FROM todo
    </select>

    <select id="findById" resultType="Todo">
        SELECT * FROM todo WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Todo">
        INSERT INTO todo (title, content, due_date, status, priority, created_at)
        VALUES (#{title}, #{content}, #{dueDate}, #{status}, #{priority}, NOW())
    </insert>

    <update id="update" parameterType="Todo">
        UPDATE todo SET title=#{title}, content=#{content}, due_date=#{dueDate}, status=#{status}, priority=#{priority}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM todo WHERE id = #{id}
    </delete>

</mapper>